<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyecto Ingenieria de Software</title>
</head>
<body>
    <center><h1>Dash & Dot</h1></center>
    <h2>
        Creadores:
        <br>Geraldine Galindo
        <br>Diego Viscarra
    </h2>
    <div>
        <center>
        <form method = 'get' action='/nombrar'>
            Nombre Jugador: <input type='text' name='nombre'>
            <input type = 'submit' value = 'A Jugar!!!'>
        </form>
        </center>
    </form>
    </div>
</body>
</html>

<style>
   html, body{
        background: url(http://galeria.vcbuil.com/assets/img/portfolio/fondos/wall12.png) no-repeat;
        background-size:cover;
        width:100%;
        height:100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    h1{
        font-family: 'Times New Roman', Times, serif;
        font-size:8em;
        margin-top:-10px;
    }
    h2{
        font-family: 'Times New Roman', Times, serif;
        font-size:3.5em;
        margin-top:-30px;
    }
    div{
        font-family: 'Times New Roman', Times, serif;
        font-size:3.5em;
        margin-top:100px;
    }
    input[type=text], input[type=submit] {
        border: 5px solid black;
        color: black;
        padding: 20px 30px;
        font-size: 30px;
    }
   
</style>