<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tablero</title>

</head>
<body>
    <center><h1 id="jugador">Bienvenido <%=@@nombre%> al Tablero de Dash & Dot</h1></center>
    <div id="container">
        <div id="box">
            <center><h1 id="title1">Terreno</h1>
            <% if @@terrx <= 0 || @@terry <= 0 %> 
                <h1>Por favor introducir coordenadas de terreno mayor a 0</h1><br>
                <form method = 'get' action='/nombrar'>
                    <input type = 'submit' value = 'Atr치s'>
                </form>
            <% elsif @ejex <= 0 || @ejey <= 0 %>
                <h1>Por favor introducir coordenadas del robot mayor a 0</h1><br>
                <form method = 'get' action='/volverTerreno'>
                    <input type = 'submit' value = 'Atr치s'>
                </form>
            <% elsif @ejex > @@terrx || @ejey > @@terry %>
                <h1>Por favor introducir coordenadas del robot dentro del terreno</h1><br>
                <form method = 'get' action='/volverTerreno'>
                    <input type = 'submit' value = 'Atr치s'>
                </form>
            <% else %> 
                <div id = "movementResult">
                    <h1>Salida: <%=@resp%></h1>
                    
                </div>
                <br>
                <form method = 'get' action='/nombrar'>
                    <input type = 'submit' value = 'Atr치s'>
                </form>
                <div id = "brujula"></div>
                <table>
                    <% for i in 1..@@terry do %>
                        <tr>
                            <% for j in 1..@@terrx do %>
                                <% if i == @resp[1] && j == @resp[0]%> 
                                    <% if @resp[2] == 'E' %>
                                        <th class="originE"></th>
                                    <% elsif @resp[2] == 'N' %>
                                        <th class="originN"></th>
                                    <% elsif @resp[2] == 'O' %>
                                        <th class="originO"></th>
                                    <% elsif @resp[2] == 'S' %>
                                        <th class="originS"></th>
                                    <% end %>
                                <% elsif i == @ejey && j == @ejex %>
                                    <% if @orientation == 'E' %>
                                        <th class="finalE"></th>
                                    <% elsif @orientation == 'N' %>
                                        <th class="finalN"></th>
                                    <% elsif @orientation == 'O' %>
                                        <th class="finalO"></th>
                                    <% elsif @orientation == 'S' %>
                                        <th class="finalS"></th>
                                    <% end %>
                                <% else %> 
                                    <th class="square"></th>
                                <% end %>
                            <% end %>
                        </tr>
                    <% end %>
                </table>
                </center>   
            <% end %>
        </div>
    </div>
</body>
</html>
<style>
   html, body{
        background: #FDE4C3;
        overflow-x: hidden;
    }
    #jugador{
        font-family: 'Times New Roman', Times, serif;
        font-size:8em;
        margin:-10px 0 0 0;
        background:#FFC242;
    }
    #container{
        background: url(https://i.blogs.es/936a39/catan-2/240_240.jpg), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9-IThYPsKkzIte6poW20fEsHVYeGpxjN569vWOIW-9zepRw28pQ&s);
        background-position: left top, right bottom;
        background-repeat: no-repeat, no-repeat;
        margin-left:50px;
        margin-right:50px;
    }
    #box{
        border: 8px solid black;
        padding:30px;
        margin: 50px 300px;
        background:#535DFF;
    }
    #title1{
        font-family: 'Times New Roman', Times, serif;
        font-size:4em;
        margin-top:-10px;
    }
    input[type=text], input[type=submit] {
        border: 5px solid black;
        color: black;
        padding: 10px;
        font-size: 30px;
        margin:10px;
    }
    #brujula{
        background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQurw30tosgGFvu-ofuWqp4jVSPIETW7Gxq0PibdaFnMY6J_B2zYA&s) no-repeat;
        background-size:cover;
        height:200px;
        width:200px;
        transform: rotate(180deg);
    }
    form{
        font-family: 'Times New Roman', Times, serif;
        font-size:2.5em;
        margin-top:-40px;
    }
    .square {
        height: 50px;
        width: 50px;
        background-color: #555;
        margin:5px;
    }
    .finalE {
        background: url(https://www.pngkey.com/png/detail/17-174195_png-file-size-paint-brush-arrow-png.png) no-repeat;
        height: 50px;
        width: 50px;
        background-size:50px 50px;
        transform: rotate(180deg);
    }
    .finalN {
        background: url(https://www.pngkey.com/png/detail/17-174195_png-file-size-paint-brush-arrow-png.png) no-repeat;
        height: 50px;
        width: 50px;
        background-size:50px 50px;
        transform: rotate(90deg);
    }
    .finalS {
        background: url(https://www.pngkey.com/png/detail/17-174195_png-file-size-paint-brush-arrow-png.png) no-repeat;
        height: 50px;
        width: 50px;
        background-size:50px 50px;
        transform: rotate(270deg);
    }
    .finalO {
        background: url(https://www.pngkey.com/png/detail/17-174195_png-file-size-paint-brush-arrow-png.png) no-repeat;
        height: 50px;
        width: 50px;
        background-size:50px 50px;
    }
    .originE {
        background: url(https://images-na.ssl-images-amazon.com/images/I/71JSfoapSsL._SL1500_.jpg) no-repeat;
        height: 50px;
        width: 50px;
        background-size:50px 50px;
        transform: rotate(90deg);
    }
    .originN {
        background: url(https://images-na.ssl-images-amazon.com/images/I/71JSfoapSsL._SL1500_.jpg) no-repeat;
        height: 50px;
        width: 50px;
        background-size:50px 50px;
    }
    .originS {
        background: url(https://images-na.ssl-images-amazon.com/images/I/71JSfoapSsL._SL1500_.jpg) no-repeat;
        height: 50px;
        width: 50px;
        background-size:50px 50px;
        transform: rotate(180deg);
    }
    .originO {
        background: url(https://images-na.ssl-images-amazon.com/images/I/71JSfoapSsL._SL1500_.jpg) no-repeat;
        height: 50px;
        width: 50px;
        background-size:50px 50px;
        transform: rotate(270deg);
    }
    .pass {
        background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Bullet_%28typography%29.svg/1200px-Bullet_%28typography%29.svg.png) no-repeat;
        height: 50px;
        width: 50px;
        background-size:50px 50px;
    }
    table, th, td {
        border: 1px solid black;
        background-color:black;
    }
</style>